<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Book Type');
            data.addColumn('number', 'Times Book Issued');

            chartData = []
            [# th:each="data : ${bookTypeChart.getChartData()}"]
                var key = [[${data.getKey()}]];
                var value = [[${data.getValue()}]];
                console.log(key);
                console.log(value)
                chartData.push([key, value]);
            [/]

            data.addRows(chartData);
            var options = {'title':'How many time a type of books are issued',
                'width':400,
                'height':300};
            var bookTypeChart = new google.visualization.PieChart(document.getElementById('chart_div-book-type'));
            bookTypeChart.draw(data, options);



            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Book Type');
            data1.addColumn('number', 'Times Book Issued');
            chartData = []
            [# th:each="data : ${revenueChart.getChartData()}"]
                var key = [[${data.getKey()}]];
                var value = [[${data.getValue()}]];
                console.log(key);
                console.log(value)
                chartData.push([key, value]);
            [/]

            data1.addRows(chartData);


            // Set chart options
            var options = {'title':'How many time a type of books are issued',
                'width':400,
                'height':300};

            // Instantiate and draw our chart, passing in some options.
            var revenueChart = new google.visualization.LineChart(document.getElementById('chart_div-revenue'));
            revenueChart.draw(data1, options);
        }
    </script>


</head>

<body>


<div class="profile" >
    <div class="dropdown" style="top: 0px;position: absolute;right: 100px;">
        <button onclick="myFunction()" class="dropbtn">Profile</button>
        <div id="myDropdown" class="dropdown-content">
            <a th:href="@{/user/update}">View/Edit Profile</a>
            <a th:href="@{/book/bookHistory}" style="text-decoration: none; color: black;">Issued Books</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </div>

</div>


<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col" style="text-align: center;">
            <button type="submit" ><a th:href="@{/book/addBookPage}" style="text-decoration: none; color: black;">Add Books</a></button>
            <span th:if='${user.isAdmin()}'>
                <button type="submit" ><a th:href="@{/librarian/add}" style="text-decoration: none; color: black;">Add Librarian</a></button>
            </span>
        </div>

        <div class="row">
            <div class="col-sm">
                <ul><button type="submit" ><a th:href="@{/book/bookList}" style="text-decoration: none; color: black;">Books</a></button></ul>
                <span th:if='${user.isAdmin()}'>
                    <ul><button type="submit" ><a th:href="@{/librarian/}" style="text-decoration: none; color: black;">Librarian</a></button></ul>
                </span>
            </div>

            <div class="col-sm">
                <div class="row">
                    <div class="col">
                        Number of Librarian: <span th:text="${librarianCount}"></span>
                    </div>
                    <div class="col">
                        Number of User: <span th:text="${userCount}"></span>
                    </div>
                    <div class="col">
                        Number of Book: <span th:text="${bookCount}"></span>
                    </div>
                </div>
            </div>

            <div id="chart_div-book-type"></div>
            <div id="chart_div-revenue"></div>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>
